<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>Skills</h2>
      <span class="seperator"></span>
      <ul class="d-flex">
        <li>
          <i class="devicon-angularjs-plain"></i>
        </li>
        <li>
          <i class="devicon-react-original"></i>
        </li>
        <li>
          <i class="devicon-firebase-plain"></i>
        </li>
        <li>
          <i class="devicon-github-original"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="resume__details">
    <div class="container">
      <h2>Resume</h2>
      <span class="seperator"></span>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse pariatur
        nulla sapiente odit asperiores, ut aspernatur nihil doloribus ipsa
        tenetur numquam! Molestias ullam maiores excepturi!
      </p>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h2>Summery</h2>
          <div class="resume__resume-item">
            <h3>Alex smith</h3>
            <i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
              sint deleniti! Iste quia quisquam possimus.
            </i>
            <ul>
              <li>Email: lorem@pixel.com</li>
              <li>phone: 123123123</li>
              <li>another info...</li>
            </ul>
          </div>
          <div class="resume__resume-item">
            <h3>Education</h3>
            <i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
              sint deleniti! Iste quia quisquam possimus.
            </i>
            <ul>
              <li>Email: lorem@pixel.com</li>
              <li>phone: 123123123</li>
              <li>another info...</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="resume__resume-item">
            <h3>Experience</h3>
            <i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
              sint deleniti! Iste quia quisquam possimus.
            </i>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit illum natus fugiat!
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit illum natus fugiat!
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit illum natus fugiat!
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit illum natus fugiat!
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit illum natus fugiat!
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit illum natus fugiat!
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit illum natus fugiat!
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Impedit illum natus fugiat!
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
